<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>role_add</title>
	<script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="../js/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../js/easyui/ext/jquery.portal.js"></script>
	<script type="text/javascript" src="../js/easyui/ext/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/easyui/locale/easyui-lang-zh_CN.js" ></script>
	<script type="text/javascript" src="../js/ztree/jquery.ztree.all-3.5.js" ></script>	
	<link rel="stylesheet" type="text/css" href="../js/easyui/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../js/easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../js/easyui/ext/portal.css"/>
	<link rel="stylesheet" type="text/css" href="../css/default.css"/>	
	<link rel="stylesheet" type="text/css" href="../js/ztree/zTreeStyle.css"/>

	<script type="text/javascript">
		$(function(){
			// 授权树初始化
			var setting = {
				data : {
					key : {
						title : "t"
					},
					simpleData : {
						enable : true
					}
				},
				check : {
					enable : true,
				}
			};
			
			$.ajax({
				url : '../json/menu.json',
				type : 'POST',
				dataType : 'text',
				success : function(data) {
					var zNodes = eval("(" + data + ")");
					$.fn.zTree.init($("#functionTree"), setting, zNodes);
				},
				error : function(msg) {
					alert('树加载异常!');
				}
			});
			
			// 点击保存
			$('#save').click(function(){
				location.href='/page/admin/privilege';
			});
		});
	</script>	
</head>
<body class="easyui-layout">
	<div region="north" style="height:31px;overflow:hidden;" split="false" border="false" >
		<div class="datagrid-toolbar">
			<a id="save" icon="icon-save" href="#" class="easyui-linkbutton" plain="true" >保存</a>
		</div>
	</div>
	<div region="center" style="overflow:auto;padding:5px;" border="false">
		<form id="roleForm" method="post">
			<table class="table-edit" width="80%" align="center">
				<tr class="title">
					<td colspan="2">角色信息</td>
				</tr>
				<tr>
					<td width="200">编号</td>
					<td>
						<input type="text" name="id" class="easyui-validatebox" data-options="required:true" />						
					</td>
				</tr>
				<tr>
					<td>名称</td>
					<td><input type="text" name="name" class="easyui-validatebox" data-options="required:true" /></td>
				</tr>
				<tr>
					<td>描述</td>
					<td>
						<textarea name="description" rows="4" cols="60"></textarea>
					</td>
				</tr>
				<tr>
					<td>授权</td>
					<td>
						<ul id="functionTree" class="ztree"></ul>
					</td>
				</tr>
				</table>
		</form>
	</div>
</body>
</html>