<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>resource</title>
	
	<script type="text/javascript" src="${base}/static/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="${base}/static/js/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="${base}/static/js/easyui/ext/jquery.portal.js"></script>
	<script type="text/javascript" src="${base}/static/js/easyui/ext/jquery.cookie.js"></script>
	<script type="text/javascript" src="${base}/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="${base}/static/js/ztree/jquery.ztree.all-3.5.js"></script>
	<link rel="stylesheet" type="text/css" href="${base}/static/js/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${base}/static/js/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="${base}/static/js/easyui/ext/portal.css">
	<link rel="stylesheet" type="text/css" href="${base}/static/css/default.css">	
	<link rel="stylesheet" type="text/css" href="${base}/static/js/ztree/zTreeStyle.css">
	
	<script type="text/javascript">
		var zTree, rMenu;	
		function onClick(event, treeId, treeNode, clickFlag) {
			// 判断树菜单节点是否含有 page属性
			if (treeNode.page!=undefined && treeNode.page!= "") {
				if ($("#tabs").tabs('exists', treeNode.name)) {// 判断tab是否存在
					$('#tabs').tabs('select', treeNode.name); // 切换tab
				} else {
					// 开启一个新的tab页面
					var content = '<div style="width:100%;height:100%;overflow:hidden;">'
							+ '<iframe src="'
							+ treeNode.page
							+ '?pId='
							+ treeNode.pId
							+ '&id='
							+ treeNode.id
							+ '" scrolling="auto" style="width:100%;height:100%;border:0;" ></iframe></div>';
		
					$('#tabs').tabs('add', {
						title : treeNode.name,
						content : content,
						closable : true
					});
				}
			}
		}
		
		function OnRightClick(event, treeId, treeNode) {
			zTree.selectNode(treeNode);
			showRMenu(event.clientX, event.clientY);
		}
	
		function showRMenu(x, y) {
			y += document.body.scrollTop;
	        x += document.body.scrollLeft;
			$('#rMenu').menu('show', { 
				left: x, 
				top: y 
			});
			rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});
			$("body").bind("mousedown", onBodyMouseDown);
		}
		
		function hideRMenu() {
			if (rMenu) rMenu.css({"visibility": "hidden"});
			$("body").unbind("mousedown", onBodyMouseDown);
		}
		
		function onBodyMouseDown(event){
			if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
				rMenu.css({"visibility" : "hidden"});
			}
		}
		
		function addTreeNode() {
			hideRMenu();
			var newNode = { name:"新增菜单" };
			if (zTree.getSelectedNodes()[0]) {
				newNode.checked = zTree.getSelectedNodes()[0].checked;
				zTree.addNodes(zTree.getSelectedNodes()[0], newNode);
			} else {
				zTree.addNodes(null, newNode);
			}
		}
		
		function menuHandler(item){
			var treeNode = zTree.getSelectedNodes()[0];
			if(item.name=="add"){
				addTreeNode();
				var content = '<div style="width:100%;height:100%;overflow:hidden;">'
					+ '<iframe src="resource/detail'
					+ '?pId='
					+ treeNode.pId
					+ '&id='
					+ treeNode.id
					+ '"scrolling="auto" style="width:100%;height:100%;border:0;" ></iframe></div>';
				$('#tabs').tabs('add', {
					title : "新增菜单",
					content : content,
					closable : true
				});
			}
 
			if(item.name=="edit"){
				alert("edit") 
			}
 
			if(item.name=="remove"){
				alert("remove") 
			}
		}
		
		$(function(){
			var setting = {
				data : {
					simpleData : { // 简单数据 
						enable : true
					}
				},
				callback : {
					onClick : onClick,
					onRightClick: OnRightClick
				}
			};
			
			$.getJSON("${base}/resource/tree",function(data){
				$.fn.zTree.init($("#treeMenu"), setting, data);
				zTree = $.fn.zTree.getZTreeObj("treeMenu");
				rMenu = $("#rMenu");
			},"json");
			
			
			$("#grid").datagrid({
				toolbar : [
					{
						id : 'add',
						text : '添加权限',
						iconCls : 'icon-add',
						handler : function(){
							location.href='${base}/resource/detail';
						}
					}           
				],
				url : '${base}/static/json/resource.json',
				method : "GET",
				columns : [[
				  {
					  field : 'id',
					  title : '编号',
					  width : 200
				  },
				  {
					  field : 'name',
					  title : '名称',
					  width : 200
				  },  
				  {
					  field : 'description',
					  title : '描述',
					  width : 200
				  },  
				  {
					  field : 'generateMenu',
					  title : '是否生成菜单',
					  width : 200
				  },  
				  {
					  field : 'zindex',
					  title : '优先级',
					  width : 200
				  },  
				  {
					  field : 'page',
					  title : '路径',
					  width : 200
				  }
				]]
			});
		});
	</script>	
</head>
<div id="rMenu" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;">  	
   <div data-options="name:'add',iconCls:'icon-add'">添加</div>  	
   <div data-options="name:'edit',iconCls:'icon-edit'">修改</div>  	
   <div data-options="name:'remove',iconCls:'icon-remove'">删除</div>  	
</div>  

<body class="easyui-layout">
	<div data-options="region:'west',split:true,title:'菜单导航'"
			style="width:200px">
				<div id="treeMenu" class="ztree"></div>
	</div>
	<div data-options="region:'center'">
		<div id="tabs" fit="true" class="easyui-tabs" border="false">
			<div title="消息中心" id="subWarp" style="width:100%;height:100%;overflow:hidden">
				<table id="grid" fit="true"></table>
			</div>
		</div>
	</div>
</body>
</html>