<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<RollingRandomAccessFile name="logfile" fileName="/opt/log/app-acs-gun/app-acs-gun.log" filePattern="/opt/log/app-acs-gun/app-acs-gun-%d{yyyy-MM-dd}.log.%i">
			<PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%t] (%c:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="com.bill99.acs.gun" level="INFO" additivity="true" includeLocation="true">
			<AppenderRef ref="logfile" />
		</AsyncLogger>
		<AsyncRoot level="WARN" includeLocation="true">
			<AppenderRef ref="logfile" />
		</AsyncRoot>
	</Loggers>
</Configuration>